* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --main-color: #644D36;
    --main-bg: #F7EEDD;
    --footer-bg: #B1A9A2;

    --light-color-font: #F7EEDD;
    --dark-color-font: #352325;

    --accent-color: #756d6e;
}

body {
    margin: 0;
}

header {
    font-family: 'EB Garamond', serif;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg);
    height: 100vh;
}

.header-content {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-content h1 {
    font-family: "Shelley Script LT W01", serif;
    color: var(--main-color);
}

.logo {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.logo img {
    height: 5rem;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    background-color: var(--main-color);
    padding: 1rem 0;
    border-radius: 5rem 0 0 5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.8rem 1.2rem;
    border-radius: 6px;
    transition: all 0.3s ease;
    position: relative;
}

@media (max-width: 768px) {
    header {
        padding: 1rem;
    }
    
    .header-content {
        gap: 1rem;
    }
    
    nav ul {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    
    nav a {
        display: block;
        padding: 0.8rem;
    }
}