:root {
    --main-color: #644D36;
    --main-bg: #F7EEDD;
    --footer-bg: #B1A9A2;

    --light-color-font: #F7EEDD;
    --dark-color-font: #352325;

    --accent-color: #756d6e;
}

.section-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2 img {
    height: 90%;
}